* {
    /* border: 1px solid red; */
}
body {
    background-color: white;
}
nav {
    display: flex;
    justify-content: center;
}
a {
    background-color: lightblue;
    color: darkblue;
    text-decoration: none;
    padding: 10px;
    margin: 5px;
    text-align: center;
}
a:hover {
    background-color: darkblue;
    color: white;
}
h1 {
    font-size: 2em;
    text-align: center;
}
img {
    width: 60%;
    max-width: 500px;
    display: block;
    margin: 0 auto;
}
p {
    /* text-align: center; */
    width: 60%;
    margin: 10px auto;
    padding: 10px;
}
.grey-bg {
    background-color: lightgray;
}
footer {
    background-color: lightblue;
}
footer p {
    text-align: center;
}
